<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="db_QLNhaTro" connectionString="Data Source=DESKTOP-A1IFEE5\SQLEXPRESS;Initial Catalog=qlnhatro;Integrated Security=True"
			 providerName="System.Data.SqlClient"></add>
	</connectionStrings>
</configuration>